{% extends "main_base.html" %}
{% load staticfiles %}

{% block css_head %}
    <link rel="stylesheet" href="{% static 'css/results.css' %}">
{% endblock css_head %}

{% block content %}
    {% if messages %}
        <div class="messages message-banner">
            {% for message in messages %}
            <center><h2{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </h2></center>
            {% endfor %}
        </div>
    {% endif %}
    <div class="info">
        <center><div class="jumbotron">
		<h3 class="display-4">
            Here are all the questions that have been asked. Click on one to add an answer.
		</h3>
            <h3 class="link"><a href="{{ current_site }}">Or...ask a new question</a></h3>
		</div></center>

        <div class="item-container">
            {% for question in questions %}
            <div class="item-wrapper"><a href="{% url "answers" question.unique_id %}">{{ question.unique_id }} : {{ question.question }}</a></div>
            {% endfor %}
        </div>

    </div>
    <div class="result-items"></div>
{% endblock %}
