{% extends "main_base.html" %}
{% load staticfiles %}

{% block css_head %}
    <link rel="stylesheet" href="{% static 'css/results.css' %}">
{% endblock css_head %}

{% block content %}
    {% if messages %}
        <div class="messages message-banner">
            {% for message in messages %}
            <center><h2{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </h2></center>
            {% endfor %}
        </div>
    {% endif %}
    <div class="info">
        <center><h3></h3></center>
        <center><div class="jumbotron">
		<h2 class="display-4">
            Here are all the questions that have been asked. Click on one to add an answer.
		</h2>
            <h2><a href="{{ current_site }}">Or...ask a new question</a></h2>
		</div></center>

        {% for question in questions %}

        <h2><a href="{% url "answers" question.unique_id %}">{{ question.unique_id }} : {{ question.question }}</a></h2>
        {% endfor %}

    </div>
    <div class="result-items"></div>
{% endblock %}
