{% extends "main_base.html" %}
{% load staticfiles %}

{% block css_head %}
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
{% endblock css_head %}

{% block content %}
    <div style="margin-top: 20%;">
        <center><h1>Create a Question!</h1></center>
        <form method="post">
            {% csrf_token %}
            <center>{{ form.as_p }}</center>
            <center><input class="btn red-btn" type="submit" value="Let's do this!"></center>
        </form>
    </div>
{% endblock %}
