label {
    display: none;
}

input[name=question], input[name=answer] {
    font-size: 20px;
    width: 500px;
}

.answer-wrapper {
    margin-top: 15px
}

.btn-submit {
    margin-top: 10px;
    margin-bottom: 10px;
}

.answer-item {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16pt;
    border: 1px solid darkgrey;
    margin: 5px;
    border-radius: 3px;
    background-color: #f5f5f5;
}