{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrowdPinion {% block title %}{% endblock title %}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/leafo/sticky-kit/v1.1.2/jquery.sticky-kit.min.js"></script>

    {% block js_head %}{% endblock js_head %}
    {% block css_head %}{% endblock css_head %}

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    {% block extra_head %}{% endblock extra_head %}

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">
            <span class="fa fa-home"></span>
        </a>
        <div class="nav navbar-nav" style="padding: 12px">
            <input style="padding: 1px 10px" type="text" id="question-id" placeholder="input unique question ID"><button type="button" style="margin-left: 10px" onclick="goToQuestion()">Go</button>
            <button type="button" style="margin-left: 10px" onclick="goToQuestions()">View all questions</button></div>

    </div>
</nav>
<div id="container" class="container">
    <div class="body-content">
        {% block content %}{% endblock content %}
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom center"
         role="navigation">
        <p class="text-center" style="padding-top: 8px">
            This application was created by <a href="http://kartoza.com">
            Kartoza (Pty) Ltd.
            <img src="{% static "img/kartoza.png" %}" />
        </a>
            <a href="https://github.com/kartoza/crowdpinion">
                Available on GitHub!
            </a>
        </p>
    </nav>
</div>

{% block inline-js %}{% endblock %}

<script>
    function goToQuestion() {
        var question_id = $('#question-id').val();
        if(question_id !== ''){
            window.open('/' + question_id, '_self')
        }
    }
    function goToQuestions() {
        window.open('/all-questions/','_self')

    }
</script>
</body>
</html>
